<tr class="<%= account_exists?(monthstat.userid) ? '' : 'dead' %> <%= path_exists?(monthstat.path) ? '' : 'empty' %>">
  <td><%= monthstat.userid %></td>
  <td><%= monthstat.gid %></td>
  <td><%= monthstat.path %></td>
  <td><%= monthstat.days %></td>
  <td><%= monthstat.avg_account_size.to_digits.to_i %></td>
  <td><%= monthstat.day_of_registration %></td>
</tr>
