<tr class="<%= monthstat.status %>">
  <td><%= monthstat.userid %></td>
  <td><%= monthstat.gid_num %></td>
  <td><%= monthstat.gid_string %></td>
  <td><%= monthstat.path %></td>
  <td><%= monthstat.days %></td>
  <td><%= monthstat.day_of_registration %></td>
</tr>
