<%= link_to t(:schema), schema_path %>
<%= title @day.dateformat %>
<%= subtitle pluralize(@stats.count, "user") %>
<table>
  <tr>
    <th></th>
    <th><%= sortable 'gid_num', 'GID' %></th>
    <th><%= sortable 'gid_string', 'GIDName' %></th>
  </tr>
<% @stats.each do |stat| %>
  <tr>
    <td><%= stat.account_path %></td>
    <td><%= stat.gid_num %></td>
    <td><%= stat.gid_string %></td>
  </tr>
<% end %>
</table>
