<%= link_to t(:schema), schema_path %>
<%= title @day.dateformat %>
<%= subtitle pluralize(@stats.count, "user") %>
<table>
  <tr>
    <th></th>
    <th><%= sortable 'account_size' %></th>
  </tr>
<% @stats.each do |stat| %>
  <tr>
    <td><%= stat.user.path %></td>
    <td><%= stat.account_size %></td>
  </tr>
<% end %>
</table>
