<table>
  <tr>
    <th><%= sortable 'date' %></th>
    <th><%= sortable 'users_count', 'Users' %></th>
  </tr>
  <% @days.each do |day| %>
    <tr>
      <td><%= day.dateformat %></td>
      <td><%= day.users_count %></td>
      <td><%= day.users_account_size_sum %></td>
    </tr>
  <% end %>
</table>
