<table>
  <tr>
    <th><%= sortable 'date' %></th>
    <th><%= sortable 'users_count', 'Users' %></th>
    <th><%= sortable 'users_account_size_sum', 'Account Size Sum' %></th>
  </tr>
  <% @days.each do |day| %>
    <tr>
      <td><%= link_to day.dateformat, day_path(day) %></td>
      <td><%= day.users_count %></td>
      <td><%= day.users_account_size_sum %></td>
    </tr>
  <% end %>
</table>
