<table>
  <tr>
    <th><%= sortable 'date', 'Date' %></th>
    <th><%= sortable 'users_count', 'Accounts' %></th>
    <th>Actions</th>
  </tr>
  <% @days.each do |day| %>
    <tr>
      <td><%= link_to day.dateformat, day_path(day) %></td>
      <td><%= day.users_count %></td>
      <td><%= link_to t(:del), day, :confirm => sure?, :method => :delete %></td>
    </tr>
  <% end %>
</table>
