<table id="monthstats">
  <tr>
    <th><%= sortable 'userid' %></th>
    <th><%= sortable 'gid_num', 'GID' %></th>
    <th><%= sortable 'gid_string', 'GName' %></th>
    <th><%= sortable 'path' %></th>
    <th><%= sortable 'days' %></th>
    <th><%= sortable 'day_of_registration' %></th>
  </tr>
  <%= render monthstats %>
</table>
